

:host {
    min-height: 100vh;
    width: 100%;
    
    
    background: linear-gradient(to bottom, white 0%, white 50%, #a9bec4 50%, #8cd1f1 100%) !important;
    
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 30px 0;
}



.perfil-card { 
   
    max-width: 800px; 
    width: 90%; 
    z-index: 10;
    
    
    background-color: white; 
    border-radius: 12px;
}



.card { 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
    border-radius: 12px;
    border: none;
}

.card-header {
    background: linear-gradient(90deg, #1083c5 0%, #03141b 100%); 
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 12px 12px 0 0; 
}

.card-body {
    background-color: white; 
    border-radius: 0 0 8px 8px;
    padding: 30px;
}

h2 { 
    font-size: 1.8rem;
    font-weight: 700;
}

h4 {
    color: #696fdf; 
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #e0e0e0; 
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 0.5rem;
}


button {
    margin-top: 15px; 
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


.btn-warning { 
    background-color: #e4dda4d7 !important;
    color: #333 !important; 
}


.btn-danger { 
    background-color: #e25757 !important;
    color: white !important;
}


.alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}