
:host {
  
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-wrapper {
    
    background: linear-gradient(135deg, #a9bec4 10%, #8cd1f1 100%) !important; 
    min-height: 100vh;
    width: 100%;
}


.admin-card {
    background-color: white !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2) !important;
}

.admin-card .card-title {
    font-size: 1.6em !important;
    font-weight: 700 !important;
    color: #333 !important;
    text-transform: uppercase;
}

.admin-card p.text-muted {
    font-size: 0.9em;
}

.admin-card .row.g-3.mb-4 button {
    padding: 12px 20px !important;
    border-radius: 8px !important;
    font-weight: 600;
    transition: all 0.2s ease;
    color: white !important; 
    border: none !important; 
}

.admin-card .btn-outline-primary { 
    background-color: #64bd96 !important; 
}
.admin-card .btn-outline-success { 
    background-color: #395e6b !important; 
}
.admin-card .btn-outline-warning { 
    background-color: #a76f99 !important; 
}
.admin-card .btn-outline-info { 
    background-color: #44af5f !important; 
    color: #2db95c !important; 
    border: 1px solid #3dcf44 !important; 
    font-weight: 600;
}

.no-results-alert {
    padding: 15px;
    border-radius: 8px !important;
    background-color: #e0f7fa !important; 
    color: #038894 !important; 
    text-align: center;
    margin-top: 20px;
    border: 1px solid #b2ebf2;
    font-weight: 500;
}


.quick-actions button {
    font-weight: 600 !important;
    padding: 15px !important;
    border-radius: 12px !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: none !important;
    color: white !important; 

    &:hover {
        transform: translateY(-2px); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2) !important;
    }
}


.quick-actions .btn-primary { 
    background-color: #2E6B83 !important; 
    border-color: #2E6B83 !important; 
}

.quick-actions .btn-outline-primary { 
    background-color: #55AFA8 !important; 
    border-color: #55AFA8 !important; 
    color: white !important;
}

.quick-actions .btn-info { 
    background-color: #8AA8C7 !important; 
    border-color: #8AA8C7 !important;
}


.home-section .card {
background-color: #e8ebeb !important;
    border-radius: 16px !important; 
    border: 1px solid #e0e0e0 !important; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important; 
    
}

.home-section .card-header h5 {
    
    color: #0f1adf !important; 
    font-weight: 600;
}


.card-body .p-3.rounded-3 p.fw-semibold {
    
    color: #3336e7 !important; 
}
.home-section h1.text-primary {
    color: #010216 !important;}