
.login-wrapper {
    background: linear-gradient(135deg, #72EDF2 10%, #515AFE 100%); 
    

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-card {
    background-color: #ffffff;
    padding: 30px; 
    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2); 
    max-width: 400px !important; 
    width: 90% !important; 
    margin: 0 auto; 
}

.login-title {
    font-size: 2em;
    color: #515AFE; 
    font-weight: 700;
    margin-bottom: 25px !important;
    text-transform: uppercase; 
}
.form-group label {
    font-weight: bold; 
    color: #555; 
    display: block; 
    margin-bottom: 5px; 
}

.login-card .form-control {
    width: 100%;
    box-sizing: border-box; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    transition: border-color 0.2s;
}

.login-card .form-control:focus {
    border-color: #56AB2F; 
    box-shadow: 0 0 0 0.25rem rgba(86, 171, 47, 0.25);
}

.login-button {
    border: none !important; 
    box-shadow: none !important;
    
    padding: 15px;
    background: linear-gradient(45deg, #294d5e 0%, #26292e 100%) !important; 
    color: white; 
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 15px rgba(73, 86, 112, 0.4);
    text-transform: uppercase; 
}

.login-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(71, 104, 102, 0.6);
}

.register-link {
    font-size: 0.9em;
}

.register-link a {
    color: #515AFE;
    text-decoration: none;
    font-weight: 700;
}