
.home-wrapper {
    
    background: linear-gradient(135deg, #0a9299 10%, #34424e 100%) !important;
    min-height: 100vh;
}


.admin-card {
    
    border-radius: 12px !important;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2) !important;
}


.admin-card .card-title {
    font-size: 1.6em !important;
    font-weight: 700 !important;
    color: #333 !important;
    text-transform: uppercase;
}

.admin-card p.text-muted {
    font-size: 0.9em;
}



.admin-card .row.g-3.mb-4 button {
    
    padding: 12px 20px !important;
    border-radius: 8px !important;
    font-weight: 600;
    transition: all 0.2s ease;
    
   
    color: white !important; 
    border: none !important; 
}


.admin-card .btn-outline-primary {
    background-color: #64bd96 !important;
}


.admin-card .btn-outline-success {
    background-color: #39616e !important;
}


.admin-card .btn-outline-warning {
    background-color: #a86e9a !important;
}



.admin-card .btn-outline-info {
    background-color: #3da056 !important; 
    color: #2db95c !important; 
    border: 1px solid #3dcf44 !important; 
    font-weight: 600;
}


.no-results-alert {
    padding: 15px;
    border-radius: 8px;
    background-color: #e0f7fa !important; 
    color: #00838f !important; 
    text-align: center;
    margin-top: 20px;
    border: 1px solid #b2ebf2;
    font-weight: 500;
}