h1 {
    font-size: 2.5rem;
    color: #007bff;
  }
  
  .lead {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  button {
    margin-bottom: 15px;
  }
  
  ul.list-group {
    margin-top: 20px;
  }