
.login-wrapper {

    background: linear-gradient(135deg, #8de499 10%, #27412c 100%) !important;   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 20px 0;
}

.registro-wrapper {
    
    background: linear-gradient(135deg, #384050 10%, #B4C4D9 100%) !important;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px 0; 
}

.registro-card {
    background-color: #ffffff;
    padding: 35px; 
    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 500px; 
}


.registro-card h2 {
    font-size: 2em;
    color: #154b27; 
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase; 
}


.form-group label {
    font-weight: bold; 
    color: #555; 
    display: block; 
    margin-bottom: 5px; 
}

.registro-card .form-control {
    border-radius: 8px; 
    padding: 12px;
    transition: border-color 0.2s;

    &:focus {
        border-color: #56AB2F; 
        box-shadow: 0 0 0 0.25rem rgba(86, 171, 47, 0.25);
    }
}

.registro-button {
    background: linear-gradient(45deg, #235e3c 0%, #9ce9a2 100%) !important; 
    color: rgb(255, 255, 255) !important; 
    border: none !important; 
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(9, 22, 95, 0.4); 

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 6px 20px rgba(7, 83, 134, 0.6);
    }
}

.login-link a {
    
    color: #024611 !important; 
    text-decoration: none;
    font-weight: 700;
}


.login-link a:hover {
    color: #007700 !important; 
    text-decoration: underline;
}